
<div class="flex-container">
  <div class="left">
    <h3>Featured</h3>
    <p>Figure out how to put a featured Recipe/Article here. </p>
  </div>

  <div class="right">
    <div class="image-container">
      <%= image_tag("andrea.jpg", class: "img_responsive") %>
    </div>
    <p class="meet-me">Hi, I'm Andrea and this is my recipe blog where I celebrate my love for plant-based food. In addition to being meat and dairy-free, most of my recipes are free processed foods and sugar. Feel free to read my story on my About page.</p>
  </div>
</div>



