<h1>Welcome to my Blog!</h1>

<%= link_to 'My Blog', controller: 'articles' %>

More content
blah balh
blah blah

More content
blah balh
blah blah

More content
blah balh
blah blah

More content
blah balh
blah blah
