<table>
  <tbody>
    <tr>
      <td><h2>Welcome!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for signing up with <%= @appname %>. We hope you enjoy trying out our recipes!</p></td>
    </tr>
    <tr>
      <td><p><strong>-Andrea's Kitchen</strong></p></td>
    </tr>
  </tbody>
</table>