<h1>Recipes</h1>

<div class="container-fluid">
  <div class="blog-content">
    <% @articles.each do |article| %>
      <div class="article">
        <h2><%= link_to article.title, article %></h2>
        <%= image_tag(article.image_url, class: "img-responsive") %> 
        <p><%= article.text %></p>
      </div> 
    <% end %>
  </div> <!--end row-->
</div> <!-- end container-->

