// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-content {
  max-width: 60%;
  margin: 0 auto;
}

.blog-content img {
  padding: 20px 0;
  max-width: 100%;
}

.article-preview a {
  color: #537A2D;
  font-weight: 400;
  padding-top: 10px;
}

.article-preview a:hover {
  text-decoration: none;
  color: black;
}

h2 {
  color: #537A2D;
}

.small-img {
  max-width: 350px;
  margin: 0 auto;
}

.article-list {
  width: 100%;
  margin: 0 auto;
}

.article-preview {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}