h1 {
  text-align: center;
  color: #537A2D;
  padding-top: 20px;
}

h3 {
  color: #537A2D;
}

.content {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.featured-image {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.featured-container {
  margin: 20px;
}

.meet-me {
  display: inline-block;
  float: left;
  margin-top: 20px;
  padding-bottom: 20px;
}

.image-container {
  display: inline-block;
  width: 120px;
  margin-top: 55px;
  float: left;
}

hr {
  width: 80%;
}

.front-page {
  margin-top: 40px;
}

.form-container {
  max-width: 322px;
}

.thank-you {
  text-align: center;
}

.user-form {
  margin: 0 auto;
}

.form-container a {
  color: #537A2D;
}

.search-bar {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.search-field {
  display: inline-block;
  border-radius: 5px 0 0 5px;
  width: 75%
}

.search-button {
  display: inline-block;
  border-radius: 0 5px 5px 0;
}

#search .search-field {
  height: 34px;
  margin-right: -5px;
}
