h1 {
  text-align: center;
  color: #537A2D;
}

h3 {
  color: #537A2D;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.flex-container {
  height: 100vh;
  display: flex;
  margin: 20px;
  flex-direction: row;
}

.left {
  width: 60%;
  margin: 10px;
}

.right {
  display: flex;
  width: 30%;
  margin: 60px 10px 10px 10px;
}

.image-container {
  width: 120px;
  flex-wrap: nowrap;
  margin-right: 20px;
}

.featured-image {
  max-width: 800px;
  display: inline-block;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.featured-container {
  margin: 20px;
}


