// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  text-align: center;
  color: #537A2D;
}

h3 {
  color: #537A2D;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.flex-container {
  height: 100vh;
  display: flex;
  margin: 20px;
  flex-direction: row;
}

.left {
  width: 60%;
  overflow: scroll;
  margin: 10px;
}

.right {
  display: flex;
  width: 30%;
  margin: 10px;
}

.image-container {
  width: 120px;
  flex-wrap: nowrap;
  margin-right: 20px;
}


